<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAonqaiO2SAytYED0tM94Q-4BYll-Zo-RM</string>
	<key>GCM_SENDER_ID</key>
	<string>608926332206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avaneesh.campuscompanion</string>
	<key>PROJECT_ID</key>
	<string>campus-companion-ww3uof</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-companion-ww3uof.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608926332206:ios:a3be827c73d2d5f2bab6bf</string>
</dict>
</plist>